:root {
    --dark-bg-color: #2d2d2d;
    --teal: #288e9b;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg-color);
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin-top: 110px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.row {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    min-height: 110px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--teal);
    background-image: url('./img/DDI-Masthead-Logo.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto 110px;
}

.menu-item {
    text-transform: uppercase;
    margin: 0;
    padding: .4rem;
    margin-top: 45px;
    color: #ffffff;
}

.middle-item {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 75px;
    padding: .4rem;
    margin-top: 45px;
}

.masthead {
    position: relative;
    height: 40vh;
    width: 100vw;
    margin: 0;
    padding: 2rem;
    background-image: url('./img/Dogs1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    text-align: center;
}

.anchor{
    display: block;
    position: relative;
    padding-top: 110px;
    visibility: hidden;
    }

/* .action-button-container {
    margin: 25vh 0 0 0;
    padding: 0;
} */

.action-button {
    display: inline-block;
    min-width: 10rem;
    background-color: var(--teal);
    border-radius: 2rem;
    color: #fff;
}

.title {
    display: block;
    text-transform: uppercase;
}

.text-teal {
    color: var(--teal);
}

.btn-primary {
    background-color: var(--teal);
}